@using ItaiMvcTest.Models

@model DoMathViewModel

@{
    ViewBag.Title = "DoMath";
}

<h2>DoMath</h2>

<br/><br/>

The number you entered is @Model.NumberEntered

<br/><br/>

Ten percent more: @Model.TenPercentMore

<br/><br/>

Ten percent less: @Model.TenPercentLess
